<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<meta name="google-site-verification" content="VxbcKD5orOB0y94VMgWwjzRhFHToWApVdZ8cspA50xg" />
	<meta name="naver-site-verification" content="a3bef120013ad59b91246edbac30b712b3fcb615" />
	<title>여울서버</title>
	<link rel="stylesheet" href="/resources/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" media="screen, projection"
		  href="/resources/css/menu.css">
	<link rel="stylesheet" type="text/css" media="screen, projection"
		  href="/resources/css/style.css">
	<link rel="icon" href="/resources/img/favicon-96x96.ico">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type"
		  content="text/html; charset=UTF-8">
	<script src="/resources/js/jquery-3.1.1.js"></script>
	<style>
		.outer-box::before {
			content: "접속멤버 [[${activeSessions}]]명";
			display: block;
			font-size: 14px;
			font-weight: bold;
			margin-bottom: 10px;
			text-align: left;
			margin-left: 4px;
		}
	</style>
</head>
<body>
<div class="wrap1">
	<div class="wrap2" style="height:98vh;">
		<div class="logo" style="cursor: pointer;">
			<div style="display:inline; float:left;"> 여울서버
				<div class="slogan">여러분을 초대합니다.</div>
			</div>
			<div style="display:inline; float:right">

			</div>
		</div>

		<div id="menu">
			<div class="menu" style="margin-top: -16px;">
				<ul>
					<li></li>
					<li><img src="/resources/img/divider2.png" alt=""></li>
					<li></li>
					<li><img src="/resources/img/divider2.png" alt=""></li>
					<li><span class="hlavny_"><a
							th:href="${community}">커뮤니티(단톡방)</a></span></li>
					<li><img src="/resources/img/divider2.png" alt=""></li>
					<li></li>
					<li><img src="/resources/img/divider2.png" alt=""></li>
					<li><span class="hlavny_"><a
							th:href="${download}">자료실(다운로드)
							</a></span></li>
					<li><img src="/resources/img/divider2.png" alt=""></li>
					<li></li>
					<li><img src="/resources/img/divider2.png" alt=""></li>
					<li>
						<span id="board" class="hlavny_" style="padding-left:0px; padding-right:0px; width:175px;">
							<a style="height:30px; text-decoration: none;" href="javascript:void(0)" >공략게시판</a>
							<div class="speech-bubble">
								<a href="/board/list?category=1" onmouseover="onHover(this)" onmouseout="outHover(this)" id="quest" style="color:black; cursor: pointer; text-decoration: none; padding:0px;">퀘스트공략</a>
							</div>
							<div class="speech-bubble">
								<a href="/board/list?category=2" onmouseover="onHover(this)" onmouseout="outHover(this)" id="tip" style="color:black; cursor: pointer; text-decoration: none; padding:0px;">나만의팁</a>
							</div>
							<div class="speech-bubble">
								<a href="/board/list?category=3" onmouseover="onHover(this)" onmouseout="outHover(this)" id="free" style="color:black; cursor: pointer; text-decoration: none; padding:0px;">자유게시판</a>
							</div>
						</span>
					</li>
					<li><img src="/resources/img/divider2.png" alt=""></li>
					<li><img src="/resources/img/divider2.png" alt=""></li>
					<li sec:authorize="hasRole('ADMIN')"><span class="hlavny_" onclick="window.open('/manage/page', 'a', 'width=700, height=600, left=800, top=100')"><a href="javascript:void(0)">관리팝업
							</a></span></li>
					<li class="active"></li>
				</ul>
			</div>
			<div class="banner-wrapper">
				<img src="/resources/img/banner.jpg" style="width:660px; float: right"/>
			</div>
			<form name="fo" method="get" sec:authorize="!isAuthenticated()">
				<input class="input-border" id="id" placeholder="아이디" type="text" size="15" value=""/><br>
				<input class="input-border" id="password" placeholder="비밀번호" type="password" size="15" value="" style="margin-top:10px;"/>
				<button id="login" class="lButton" type="button"></button>
			</form>
			<div class="links" style="margin-top: 24px; margin-left: 22px;" sec:authorize="!isAuthenticated()">
				<a style="text-decoration: none; margin-left:15px;" href="/member/signup">회원가입</a><br>
				<a style="text-decoration: none; visibility: hidden;" href="#"><del>ID/PW 찾기</del></a>
			</div>
			<div sec:authorize="isAuthenticated()" class="welcome-message">
				<div sec:authentication="name" class="username" style="font-family: 'Nanum Pen Script', cursive; font-size: 30px; display:inline; cursor:default "></div>
				<span sec:authorize="hasRole('VIP')" class="tooltip-icon">
					<img style="width:15px; height:15px; cursor: pointer;" src="/resources/img/authorized.png">
						<span class="tooltip-text">인증완료</span>
				</span>
				<span sec:authorize="hasRole('USER')" class="tooltip-icon">
					<img style="width:12px; height:12px; cursor: pointer;" src="/resources/img/unauthorized.png">
						<span class="tooltip-text">미인증</span>
				</span>
					<img onclick="logout();" style="width:15px; height:15px; cursor: pointer; margin-left:10px;" src="/resources/img/logout.png">
			</div>
			<br><br>
			<div style="font-family: 'SDGothic', serif; font-size: 20px;
			font-weight: bold; color:black;
			"><br>
			<div class="header" style="text-align: center; cursor:default">여울서버는 어떤곳인가요?</div>
			<div class="text" style="text-align: center; cursor:default">
				경험치 배율:
				<br> 1차 승급기준전까지 5배
				<br>2차 승급기준전까지 4배
				<br>3차 승급기준전까지 3배
				<br>4차 승급기준전까지 2배
				<br>4차 승급기준달성시 1배
				<br>서버 구현률: 100%
				<br> 서버 안정성: 100%
				<br>Made by 아기사자
			</div>
			</div>
			<br>
			<div class="outer-box">
				<div class="square-box">
					<div class="user" th:each="user : ${activeNames}" th:text="${user}"></div>
				</div>
				<div class="scroll-tab"></div>
			</div>
		</div>
	</div>
	<div style="text-align: center;">구버전 프리 바람의나라-Renewal By Yeoulserver</div>
</div>
<script th:inline="javascript">
	const activeSessions = /*[[${activeSessions}]]*/ '';
	const activeNames = /*[[${activeNames}]]*/ '';

	if(document.querySelector("#password")) {
		document.querySelector("#password").addEventListener('keydown', (e) => {
			if (e.key === 'Enter') {
				if(document.querySelector("#id").value.trim() === '' || document.querySelector("#password").value.trim() === '') {
					alert("아이디 또는 비밀번호를 입력해주세요.");
					return false;
				}
				$.ajax({
					data : {
						username: document.querySelector("#id").value,
						password: document.querySelector("#password").value
					},
					type : "POST",
					url : "/member/login",
					success : function(response) {
						console.log(response);
						if(response.result === 'success') {
							document.location.reload();
						} else {
							alert("아이디 또는 비밀번호가 잘못되었습니다.")
						}
					}
					,error:function(xhr){
						alert("아이디 또는 비밀번호가 잘못되었습니다.")
					}
				});
			}
		});
	}

	$(function(){
		var gnb = $('#board');
		var frq = 500; // 메뉴 이펙트 강도
		var t; // t 변수를 mouseover 이벤트 핸들러 외부에서 정의

		gnb.mouseover(function(){
			t = $(this);
			t.find("div:not(:animated)").slideDown(frq);
		});

		gnb.mouseleave(function(){
			t = $(this);
			t.find("div").slideUp(frq); // 수정된 부분: "div:animated"으로 변경
		});
	});

	function onHover(tis) {
		tis.style.color = '#a66347';
	}

	function outHover(tis) {
		tis.style.color = 'black';
	}

	$("#login").on("click",function() {

		if(document.querySelector("#id").value.trim() === '' || document.querySelector("#password").value.trim() === '') {
			alert("아이디 또는 비밀번호를 입력해주세요.");
			return false;
		}
		$.ajax({
			data : {
				username: document.querySelector("#id").value,
				password: document.querySelector("#password").value
			},
			type : "POST",
			url : "/member/login",
			success : function(response) {
				console.log(response);
				if(response.result === 'success') {
					document.location.reload();
				} else {
					alert("아이디 또는 비밀번호가 잘못되었습니다.")
				}
			}
			,error:function(xhr){
				alert("아이디 또는 비밀번호가 잘못되었습니다.")
			}
		});
	});

	function logout(){
		if(confirm("로그아웃 하시겠습니까?")) {
			alert("로그아웃");
			location.href = "/logout";
		}
	}
</script>
<link rel="stylesheet" type="text/css" media="screen, projection"
	  href="/resources/css/home.css?v=1">
</body>
</html>