<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "HTTP://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.myapp.service.BoardService">

    <select id="selectBoardList" parameterType="BoardVO" resultType="BoardVO">
		select b.seq
		, b.title
		, b.content
		, b.id
		, if(DATE_FORMAT(now(), '%c-%d') = DATE_FORMAT(b.registDate, '%c-%d'),DATE_FORMAT(b.registDate, '%H:%i'), DATE_FORMAT(b.registDate, '%m/%d')) as registDate
		, DATE_FORMAT(modifyDate, '%c-%d %h:%i') as modifyDate
		, deleteYn
		, b.viewCount
		, c.commentCount
		, case
		when b.noticeYn = 'N' then row_number() over (order by b.noticeYn asc, b.seq desc)
		end as rowNum
		, b.noticeYn
		from board b
		left join (select count(*) as commentCount, boardSeq from comment group by boardSeq) c
		on b.seq = c.boardSeq
		where deleteYn = 'N'
		and category = #{category}
        <choose>
        	<when test='title != null and content != null'>
        		and b.title like "%${content}%" ||  b.content like "%${content}%"
        	</when>
        	<when test='title != null'>
        		and b.title like "%${title}%"
        	</when>
			<when test='content != null'>
        		and b.content like "%${content}%"
        	</when>
        	<when test='id != null'>
        		and b.id like "%${id}%"
        	</when>        	
        </choose>
        	order by b.noticeYn desc, b.seq desc
        	limit #{pagePerNum} offset #{offset}
    </select>
      
    <select id="selectBoardListCnt" parameterType="BoardVO" resultType="int">
    	select 
    		count(*)
    	from board
    	where deleteYn = 'N'
		and category = #{category}
        <choose>
        	<when test='title != null and content != null'>
        		and title like "%${content}%" ||  content like "%${content}%"
        	</when>
        	<when test='title != null'>
        		and title like "%${title}%"
        	</when>
			<when test='content != null'>
        		and content like "%${content}%"
        	</when>
        	<when test='id != null'>
        		and id like "%${id}%"
        	</when>        	
        </choose>
    </select>

    <select id="selectBoardOne" resultType="BoardVO" parameterType="int">
    	select * 
    		from board 
    	where seq = #{seq}
    </select>

	<update id="updateViewCount" parameterType="int">
		update board
		set viewCount = viewCount + 1
		where seq = #{seq}
	</update>
    
    <insert id="insertBoard" parameterType="BoardVO">
    	insert into board (
    			title,content,id,registDate,modifyDate,deleteYn, noticeYn, category
    		) 
    		values (
    			#{title},#{content},#{id},now(),now(),'N',#{noticeYn}, #{category}
    		)
    </insert>
    
    <update id="deleteBoard" parameterType="int">
    	update board set deleteYn = 'Y' where seq = #{seq}
    </update>  
    
    <update id="updateBoard" parameterType="BoardVO">
    	update board
		set
    		title = #{title}
    		,content = #{content}
    		,modifyDate = now()
    	where seq = #{seq}
    </update>

	<insert id="insertComment" parameterType="CommentVO">
		insert into comment (
			content, boardSeq, id, registDate
		)
		values (
			#{content}, #{boardSeq}, #{id}, now()
		)
	</insert>

	<insert id="insertSubComment" parameterType="CommentVO">
		insert into comment (
		content, boardSeq, id, registDate, followSeq
		)
		values (
		#{content}, #{boardSeq}, #{id}, now(), #{followSeq}
		)
	</insert>

	<select id="selectComment" parameterType="int" resultType="CommentVO">
		select * from comment where boardSeq = #{boardSeq} and followSeq is null
	</select>

	<select id="selectSubComment" parameterType="int" resultType="CommentVO">
		select * from comment where boardSeq = #{boardSeq} and followSeq is not null
	</select>

	<select id="checkId" parameterType="java.lang.String" resultType="MemberVO">
		select * from member where id = #{id}
	</select>

	<select id="checkGameId" parameterType="java.lang.String" resultType="MemberVO">
		select * from member where gameId = #{gameId}
	</select>

	<insert id="insertMember" parameterType="MemberVO">
		insert into member (
		id, gameId, password, role
		)
		values (
		#{id}, #{gameId}, #{password}, 'USER'
		)
	</insert>

	<select id="checkMember" parameterType="java.lang.String" resultType="MemberVO">
		select * from member where id = #{id}
	</select>

	<select id="selectMember" resultType="MemberVO">
		select * from member where role != 'ADMIN'
	</select>

	<select id="selectLink" resultType="LinkVO">
		select * from link where pk = 0
	</select>

	<update id="updateCommunity" parameterType="java.lang.String">
		update link set community = #{community} where pk = 0
	</update>

	<update id="updateDownload" parameterType="java.lang.String">
		update link set download = #{download} where pk = 0
	</update>

	<update id="updateRole" parameterType="MemberVO">
		update member
			set role = #{role}
		where id = #{id}
	</update>
    
</mapper>
